.quote-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  color: var(--WHITE);
}

.quote-text {
  font-size: 1.5rem;
  color: #eeeeee;
  text-align: center;
  padding: 0 3rem;
  font-family: "Text Me One", sans-serif;
}

.quote-author {
  font-size: 1rem;
  color: var(--GAMBOGE);
}

@media screen and (max-width: 700px) {
  .quote-container {
    height: auto;
    margin: 10px;
    padding-top: 10px;
  }
  .quote-text {
    padding: 0;
  }
  .quote-author {
    padding: 10px 0;
  }
  .quotation-mark {
    font-size: 35px;
  }
  .quotation-mark {
    display: none;
  }
}
