@font-face {
    font-family: "digital";
    src: url("../../assets/digital-webfont.woff") format("woff2"), url("../../assets/digital-webfont.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
}

.pomodoro-container {
    flex: 1.5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.clock-ring-one {
    height: 290px;
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px hsla(202, 100%, 50%, 0.2);
    margin: 0 auto;
}

.clock-ring-two {
    height: 245px;
    width: 245px;
    border: 2px solid hsla(202, 100%, 50%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.clock-ring-three {
    height: 220px;
    width: 220px;
    border: 2.5px solid var(--VIVID-CERULEAN);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-time {
    letter-spacing: 5px;
    font-size: 3rem;
    color: #fff;
    box-shadow: 0 0 1px 1px hsla(202, 100%, 50%, 0.2);
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "digital", Arial, Helvetica, sans-serif;
}

.button-controls {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}