@font-face {
    font-family: "digital";
    src: url("../../assets/digital-webfont.woff") format("woff2"), url("../../assets/digital-webfont.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
}

.timer-container {
    flex: 1.4;
    border-radius: 15px;
    box-shadow: 0 0 1px 2px rgba(102, 51, 153, 0.4);
    padding: 40px 0 0 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "digital", Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    font-size: 45px;
    font-weight: bold;
    margin: 15px;
}

.session {
    box-shadow: 0 0 5px 10px hsl(180, 100%, 17%), 0 0 10px 5px hsla(180, 100%, 17%, 0.7);
    border: 4px solid hsla(180, 100%, 17%, 0.6);
}

.break {
    box-shadow: 0 0 5px 10px hsl(217, 60%, 47%), 0 0 10px 5px hsla(217, 60%, 47%, 0.7);
    border: 4px solid hsl(217, 60%, 47%, 0.6);
}

@media screen and (max-width: 700px) {
    .clock {
        flex-flow: column wrap;
    }
    .timer-container {
        box-shadow: none;
        margin: 0;
    }
    .timer {
        flex-flow: column wrap;
    }
}