.notifications {
  position: absolute;
  left: 0.2rem;
  top: 3rem;
}

.show-msg {
  animation: show-msg 4s ease;
  margin: 5px 10px;
  padding: 0.3rem 0.6rem;
  text-align: center;
  background-color: var(--VIVID-CERULEAN);
  color: #ffffff;
  border-radius: 5px;
  opacity: 0;
  font-size: 1rem;
}

@keyframes show-msg {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
