.todo-container {
    position: relative;
    padding-left: 6rem;
    width: 45vw;
    min-height: 50vh;
}

.todo-container h1 {
    position: absolute;
    top: -6rem;
    padding: 1.2rem 0;
    background-color: #ffffff;
    width: 45vw;
    text-align: center;
    color: var(--ABSOLUTE-ZERO);
}

.add-todo form {
    padding: 0.3rem 0;
    text-align: center;
}

.add-todo form input[type="text"] {
    padding: 12px;
    border-radius: 0.2rem;
    margin: 0 0.3rem;
    width: 60%;
    border: 0.06rem solid var(--ABSOLUTE-ZERO);
    font-size: 1.1rem;
    color: var(--ABSOLUTE-ZERO);
}

.add-todo form input[type="text"]:focus {
    box-shadow: 0 0 0.2rem 0.06rem var(--ABSOLUTE-ZERO);
}

.add-todo form input[type="submit"] {
    padding: 0.8rem 1rem;
    background-color: var(--ABSOLUTE-ZERO);
    border-color: transparent;
    color: #ffffff;
    border-radius: 0.2rem;
}

.add-todo form input[type="submit"]:hover {
    background-color: var(--BRANDEIS-BLUE);
}

.add-todo form input[type="submit"]:focus {
    box-shadow: 0 0 0.1rem 0.1rem var(--VIVID-SKY-BLUE);
}

.todo-filter {
    text-align: center;
}

.todo-filter input[type="button"] {
    border: 0;
    outline-color: var(--VIVID-SKY-BLUE);
    margin: 0.2rem;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #e4e1e1;
    border-radius: 0.2rem;
}

.todo-items li {
    list-style-type: none;
    font-size: 1.2rem;
    margin: 0.4rem;
    padding: 0.7rem;
    width: 80%;
    /* box-shadow: 0 -0.01rem 0.01rem 0 var(--ABSOLUTE-ZERO); */
}

.todo-items li:hover {
    border-radius: 0.3rem;
    background-color: rgba(0, 162, 255, 0.2);
}

.completed-task {
    text-decoration: line-through;
    text-decoration-color: var(--ABSOLUTE-ZERO);
}

.todo-items input[type="checkbox"] {
    /* display: none; */
    opacity: 0;
    position: absolute;
    left: -999px;
}

.todo-items span {
    box-shadow: 0 0 0.06rem 0.06rem var(--ABSOLUTE-ZERO);
    border-radius: 0.2rem;
    position: relative;
    margin-right: 0.6rem;
    height: 1.3rem;
    width: 1.3rem;
    display: inline-block;
    vertical-align: middle;
}

.todo-items input[type="checkbox"]:checked+span {
    background-color: var(--ABSOLUTE-ZERO);
}

.todo-items input[type="checkbox"]:checked+span::before {
    content: "";
    position: absolute;
    border-left: 0.15rem solid #ffffff;
    border-bottom: 0.15rem solid #ffffff;
    width: 0.7rem;
    height: 0.3rem;
    top: 0.4rem;
    left: 0.2rem;
    -webkit-transform: rotate(80deg);
    transform: rotate(315deg);
}

.todo-items input[type="checkbox"]:focus-within+span {
    box-shadow: 0 0 3px 3px var(--VIVID-CERULEAN);
}

.remove-btn {
    float: right;
    border-color: transparent;
    font-weight: bold;
    background-color: transparent;
    color: #b22222;
    outline-color: transparent;
}

.remove-btn:hover,
.remove-btn:focus {
    background-color: #b22222;
    color: #ffffff;
    border-radius: 0.2rem;
}

.no-tasks {
    text-align: center;
    color: var(--ABSOLUTE-ZERO);
    align-items: center;
    padding-top: 3rem;
    font-size: 1.2rem;
}

@media screen and (max-width: 700px) {
    .todo-container {
        padding: 0;
        width: auto;
    }
    .todo-container h1 {
        position: static;
        width: auto;
        font-size: 1.5rem;
    }
    .todo-items ul {
        margin: 0;
        padding: 0;
    }
    .todo-items li {
        list-style-type: none;
        font-size: 1rem;
        margin: 0.4rem;
        padding: 0.5rem;
        width: auto;
    }
}