@import url("https://fonts.googleapis.com/css?family=Orbitron|Roboto|Text+Me+One");
body {
    padding: 0;
    background: #f4f3ea;
    color: #41463d;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

@media screen and (max-width: 700px) {
    body {
        background-color: #ffffff;
    }
    .container {
        flex-flow: column;
    }
}