@import url("https://fonts.googleapis.com/css?family=Orbitron|Roboto|Text+Me+One");
body {
    padding: 0;
    background: #f4f3ea;
    color: #41463d;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
}

@media (min-width: 320px) and (max-width: 480px) {}